<header>
  <section class="wrapper--header">
    <nav class="navbar navbar-expand--lg nav--header">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="bi bi-linkedin"></i>
        </a>
        <div class="search--bar">
          <app-search-button></app-search-button>
        </div>
        <a class="header--icons" routerLink="/"
          ><i class="bi bi-house-door-fill"></i> Inicio</a
        >
        <a class="header--icons" routerLink="/contacto"
          ><i class="bi bi-people-fill"></i> Contacto</a
        >
        <a class="header--icons" routerLink="/proyectos"
          ><i class="bi bi-briefcase-fill"></i> Proyectos</a
        >
        <a class="header--icons" routerLink="certificaciones"
          ><i class="bi bi-chat-dots-fill"></i> Certificaciones</a
        >
        <a class="header--icons" routerLink="tecnologias"
          ><i class="bi bi-bell-fill"></i> Tecnologías</a
        >
        <a class="header--icons" routerLink="/yo"
          ><i class="bi bi-person-circle"></i> Yo
        </a>
        <a class="header--icons" routerLink="/skills"
          ><i class="bi bi-grid-3x3-gap-fill icons"></i> Skills</a
        >
        <a class="header--icons premiun--text" href="#"
          >Prueba Premiun gratis</a
        >
      </div>
    </nav>
  </section>
</header>
